@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

ion-header{
  ion-toolbar{ 
    border-bottom: 2px solid white;
    ion-title{
      margin: 45px 0px 45px 0px;
      font-size: 50px;    
      font-family: 'Prosto One', cursive;
      font-weight: bold;
    }
  }
}
ion-content{
  ion-grid:first-child{ 
    margin: 65px 250px 0px 250px
  } 
  ion-grid:nth-child(2){  
    ion-row{
      ion-col:first-child{
        padding-right: 20px;
      }
      ion-col{
        img{
          width: 100%;
          height: 100%;
        }
        ion-grid{
          margin: 0px; 
          ion-row{
            margin: -7px 0 -7px 0;
            ion-col{
              div{ 
                cursor: pointer;
                width: 25px;
                height: 25px; 
                border: 2px solid #14001b; 
              } 
            }
          }
        }
      }
    }
  } 
}
 